.title1 {
	color: black;
	text-align: center;
	border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: #efd7a3;
 max-width: 50px;
}
.subtitle1 {
  color: black;
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #efd7a3;
	max-width: 300px;
}
.p1 {
  color: black;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: #efd7a3;
	max-width: 300px;
}
.imgborder {
  border: 2px solid black;
  border-radius: 5px;
    display: block;
  margin: auto;
  width: 50%;
}
.body {
  background-color: #e2c27e;
  font-family: "Ubuntu";
}




